<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barra_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,20}}</string>
                <key>sourceSize</key>
                <string>{250,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>barra_3.png</string>
            <key>size</key>
            <string>{100,20}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e07504f614e935fcfc28006d277442e$</string>
            <key>textureFileName</key>
            <string>barra_3.png</string>
        </dict>
    </dict>
</plist>
